<h1><%= @employee.name %></h1>

<p><%= link_to "Edit", edit_employee_path(@employee) %></p>
<p><%= link_to "Delete", employee_path(@employee),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to employees", employees_path %></p>
<%= @division.name %>
<ul>
  <% @projects.each do |project| %>
  <li> <%= project.name %> </li>
  <% end %>
</ul>
<p><%= link_to "Add project to this employee", edit_employee_path(@employee) %></p>
