<h1><%= @division.name %></h1>

<% if @division.employees %>
  <ul>
    <% @division.employees.each do |employee| %>
      <li><%= link_to employee.name, employee_path(employee) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no employees yet.</p>
<% end %>

<p><%= link_to "Add an employee", new_employee_path(@division) %></p>
<p><%= link_to "Edit", edit_division_path(@division) %></p>
<p><%= link_to "Delete", division_path(@division),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to divisions", divisions_path %></p>
